* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  align-items: strech;
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  align-items: stretch;
  padding: 10px;
  background-color: #333;
}

.image {
  max-width: 100%;
  border: 1px solid white;
  cursor: pointer;
}
.image:hover {
  transform: scale(1.03);
  transition: all 0.3s ease, background-position 1ms;
}

.image-tall {
  grid-row: span 2;
}
.image-wide {
  grid-column: span 2;
}
